@import "tailwindcss";
@import "@heroui/styles";

@layer utilities {
    .center {
        justify-content: center;
        align-items: center;
    }
}

@layer base {
    :root {
        color-scheme: light;

        /* Primitive Colors (Do not change between light and dark) */
        --white: var(--color-slate-50);
        --black: var(--color-slate-950);
        --snow: var(--color-slate-200);
        --eclipse: var(--color-slate-900);
        /* == Light Theme Variables == */
        /* Base Colors */
        --background: oklch(0.9702 0 0);
        --foreground: var(--eclipse);
        /* Surface: Used for non-overlay components (cards, accordions, disclosure groups) */
        --surface: var(--white);
        --surface-foreground: var(--foreground);
        /* Overlay: Used for floating/overlay components (tooltips, popovers, modals, menus) */
        --overlay: var(--white);
        --overlay-foreground: var(--foreground);
        --muted: oklch(0.5517 0.0138 285.94);
        --scrollbar: oklch(87.1% 0.006 286.286);
        --default: oklch(94% 0.001 286.375);
        --default-foreground: var(--eclipse);

        --accent: var(--color-jeopardy);
        --accent-foreground: var(--snow);
        /* Form Field Defaults - Colors */
        --field-background: var(--white);
        --field-foreground: oklch(0.2103 0.0059 285.89);
        --field-placeholder: var(--muted);
        --field-border: transparent;
        /* no border by default on form fields */
        /* Status Colors */
        --success: oklch(0.7329 0.1935 150.81);
        --success-foreground: var(--eclipse);
        --warning: oklch(0.7819 0.1585 72.33);
        --warning-foreground: var(--eclipse);
        --danger: oklch(0.6532 0.2328 25.74);
        --danger-foreground: var(--snow);
        /* Component Colors */
        --segment: var(--white);
        --segment-foreground: var(--eclipse);
        /* Misc Colors */
        --border: oklch(92% 0.004 286.32);
        --separator: oklch(92% 0.004 286.32);
        --focus: var(--accent);
        --link: var(--foreground);
    }

    :root[data-theme="dark"] {
        color-scheme: dark;

        /*
        slate-800:
        oklch(27.9% 0.041 260.031)
        */
        /* == Dark Theme Variables == */
        /* Base Colors */
        --background: oklch(27.9% 0.041 260.031);
        --foreground: var(--snow);
        /* Surface: Used for non-overlay components (cards, accordions, disclosure groups) */
        --surface: oklch(29.9% 0.041 260.031);
        --surface-foreground: var(--foreground);
        /* Overlay: Used for floating/overlay components (tooltips, popovers, modals, menus) - lighter for contrast */
        --overlay: oklch(23.9% 0.031 260.031);
        /* A bit lighter than surface for visibility in dark mode */
        --overlay-foreground: var(--foreground);
        --muted: oklch(70.5% 0.015 286.067);
        --scrollbar: oklch(70.5% 0.015 286.067);
        --default: oklch(32.9% 0.041 260.031);
        --default-foreground: var(--snow);
        /* Form Field Defaults - Colors (only the ones that are different from light theme) */
        --field-background: var(--default);
        --field-foreground: var(--foreground);
        /* Status Colors */
        --warning: oklch(0.8203 0.1388 76.34);
        --warning-foreground: var(--eclipse);
        --danger: oklch(0.594 0.1967 24.63);
        --danger-foreground: var(--snow);
        /* Component Colors */
        --segment: oklch(0.3964 0.01 285.93);
        --segment-foreground: var(--foreground);
        /* Misc Colors */
        --border: oklch(22% 0.006 286.033);
        --separator: oklch(23.9% 0.041 260.031 / .3);
        --focus: var(--accent);
        --link: var(--foreground);
        /* Shadows */
        --surface-shadow: 0 0 0 0 transparent inset;
        /* No shadow on dark mode */
        --overlay-shadow: 0 0 0 0 transparent inset;
        /* No shadow on dark mode */
        --field-shadow: 0 0 0 0 transparent inset;
        /* Transparent shadow to allow ring utilities to work */

    }
}

@layer components {
    .button:active {
        transform: scale(1);
    }
}

@theme {
    --color-jeopardy: var(--color-blue-700);
    --color-jeopardy-light: var(--color-blue-600);
    --color-jeopardy-dark: var(--color-blue-800);
}

body {
    background-color: var(--background);
    color: var(--foreground);
}