@import "tailwindcss";

@layer utilities {
    .center {
        justify-content: center;
        align-items: center;
    }
}

@theme {
    --color-jeopardy: var(--color-blue-700);
    --color-jeopardy-light: var(--color-blue-600);
    --color-jeopardy-dark: var(--color-blue-800);
}