@import "tailwindcss";
@import "@heroui/styles";

@layer utilities {
    .center {
        justify-content: center;
        align-items: center;
    }
}

@theme {
    --color-jeopardy: var(--color-blue-700);
    --color-jeopardy-light: var(--color-blue-600);
    --color-jeopardy-dark: var(--color-blue-800);
    --color-background: var(--color-slate-800);
    --color-surface: var(--color-slate-700);

    --snow: oklch(0.9911 0 0);
    --eclipse: oklch(0.2103 0.0059 285.89);
    --spacing: 0.25rem;
    --border-width: 1px;
    --field-border-width: 0px;
    --disabled-opacity: 0.5;
    --ring-offset-width: 2px;
    --cursor-interactive: pointer;
    --cursor-disabled: not-allowed;
    --radius: 0.5rem;
    --field-radius: calc(var(--radius) * 1.5);
    --background: oklch(0.9702 0 0);
    --foreground: var(--color-slate-100);
    --surface: var(--color-slate-900);
    --surface-foreground: var(--foreground);
    --overlay: var(--color-jeopardy-dark);
    --overlay-foreground: var(--color-slate-100);
    --muted: var(--color-slate-200);
    --scrollbar: oklch(87.1% 0.006 286.286);
    --default: oklch(94% 0.001 286.375);
    --default-foreground: var(--eclipse);
    --accent: oklch(0.6204 0.195 253.83);
    --accent-foreground: var(--snow);
    --field-background: var(--white);
    --field-foreground: oklch(0.2103 0.0059 285.89);
    --field-placeholder: var(--muted);
    --field-border: transparent;
    --success: oklch(0.7329 0.1935 150.81);
    --success-foreground: var(--eclipse);
    --warning: oklch(0.7819 0.1585 72.33);
    --warning-foreground: var(--eclipse);
    --danger: oklch(0.6532 0.2328 25.74);
    --danger-foreground: var(--snow);
    --segment: var(--white);
    --segment-foreground: var(--eclipse);
    --border: oklch(90% 0.004 286.32);
    --separator: oklch(92% 0.004 286.32);
    --focus: var(--accent);
    --link: var(--foreground);

    --button-fg: red;
    --button-bg: var(--color-jeopardy);
}