@import "tailwindcss";

@layer utilities {
    .center {
        justify-content: center;
        align-items: center;
    }
}

@theme {
    --color-jeopardy: #a50036;
    --color-jeopardy-light: #b7204d;
    --color-jeopardy-dark: darkred;
}